/ExNumeroNegativoOuNao.class
/ExNumeroParOuImpar.class
/ExSaoMultiplosOuNao.class
/ExercicioDeArea.class
/ExercicioOperadoraDeTelefonia.class
/FuncoesInteressantesString.class
/ProgramaDiasSemana.class
